doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Roger's Website
    block content
    footer
      p App by Roger Schuck
    
