body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
 //text-shadow: -8px 4px 5px #800000;
  text-shadow:-8px 5px 6px #1b5c01;;
}

a {
  color: #00B7FF;
}

footer {
  width: 500px;
  margin: 50px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 11px;
}
