doctype html
html
  head
    title= "Soda App"
 
  body
    <link rel="stylesheet" href="/stylesheets/material.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/example.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/image-picker.css">

    <script src="/javascripts/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> 

    <script src="javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="javascripts/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="javascripts/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="javascripts/image-picker.min.js" type="text/javascript"></script>

    h2 Soda App

    <div class="demo-card-square mdl-card mdl-shadow--6dp">
    <div class="mdl-card__title mdl-card--expand">
    <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-text">

    <section class="w3-container"> 
    <select class="image-picker show-labels show-html">
    <option data-img-src="http://vignette2.wikia.nocookie.net/logopedia/images/e/ef/Diet_Dr_Pepper.jpg/revision/latest?cb=20111009203008" value="1">Diet Dr Pepper</option>
    <option data-img-src="http://vignette1.wikia.nocookie.net/logopedia/images/a/a6/Diet_dew_logo.gif/revision/latest?cb=20151207170440" value="2">Diet Mt Dew</option>
    <option data-img-src="http://vignette2.wikia.nocookie.net/logopedia/images/9/92/Diet_Coke_LOGO_2014.jpg/revision/latest?cb=20140603041532" value="3">Diet Coke</option>
    <option data-img-src="http://vignette1.wikia.nocookie.net/logopedia/images/d/da/Fanta.jpg/revision/latest?cb=20150801095005" value="4">Orange Fanta</option>
    <option data-img-src="http://vignette1.wikia.nocookie.net/logopedia/images/6/60/Mtndew1.png/revision/latest?cb=20100821230804" value="5">Mountain Dew</option>
    </select>
    </section>

    </div>
    <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
    View Updates
    </a>
    </div>
    </div>


    <br> 

    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">
    <thead>
    <tr>
    <th class="mdl-data-table__cell--non-numeric">Material</th>
    <th>Quantity</th>
    <th>Unit price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
    <td>250</td>
    <td>$2.90</td>
    </tr>
    <tr>
    <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
    <td>50</td>
    <td>$1.25</td>
    </tr>
    <tr>
    <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
    <td>10</td>
    <td>$12.35</td>
    </tr>
    </tbody>
    </table>

    <br> 

    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

    // Accent-colored raised button with ripple
    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent
      | Button

    &nbsp &nbsp &nbsp &nbsp

    // Colored FAB button
    button.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--colored.mdl-js-ripple-effect.mdl-button--accent
      i.material-icons add

    <br>  <br>  

    <div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>

    script.
      $("select").imagepicker();
  
      $("select").imagepicker({clicked: function(){console.log($("select").val())}});
